@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: #ffffff;
    color: #8bb5b8;
    font-weight: 400;
    font-family: "Raleway";
    font-size: 20px;
    margin-left: 400px;
    margin-right: 400px;
}

a{
    text-decoration:none;
    color:#ffffff;
}

#atajos {
    color: #8bb5b8;
    text-align: left;
    font-weight: 500;
    font-size: 15px;
}

#atajos:hover{
    color: #1f5e83;
}

a:hover{
    color: #1f5e83;
    text-decoration: underline;
}

header{
    width: 100%;
    background-color: #8bb5b8;
    height: 50px;

}

footer{
    width: 100%;
    background-color: #8bb5b8;
    height: 200px;
    
    }

h1{text-align: center;
    color: #ffffff;
    font-weight: 400;
    font-family: "Berkshire Swash";
    font-size: 40px;
}

h2{text-align: center;
    color: #8bb5b8;
    font-weight: 200;
    font-family: "Berkshire Swash";
    font-size: 30px;
    text-decoration:overline;
}

h4{text-align: center;
    color: #ffffff;
    font-weight: 200;
    font-family: "Berkshire Swash";
    font-size: 20px;

}

p{text-align:center;
    color: #4b4b4b;
    font-weight: 500;
    font-family: "Raleway";
    font-size: 15px;

}

.centrado{
    text-align: center;
}

img{
    width: 30%;
    margin: auto;
    display: block;
    border-radius: 40px;

}